@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'),
    url('https://cdn.jsdelivr.net/gh/amzrk2/dsr-cdn@1/fonts/inter/inter-regular.woff2')
      format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Inter Medium'),
    url('https://cdn.jsdelivr.net/gh/amzrk2/dsr-cdn@1/fonts/inter/inter-medium.woff2')
      format('woff2');
}
