:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
    'Helvetica Neue', 'Helvetica', sans-serif;
  --font-title: 1.75rem;
  --font-lg: 1.25rem;
  --font-base: 16px;
  --font-sm: 0.875rem;
  --color-body: #f2f5f8;
  --color-bg: #fffffd;
  --color-hover: rgba(106, 116, 136, 0.2);
  --color-wrapper: #f5f5f5;
  --color-font: #6a7488;
  --color-primary: #8aa2d3;
  --color-secondary: #8b81c3;
  --color-scroll-bg: #f0f0f0;
  --color-scroll-thumb: #cdcdcd;
  --color-scroll-hover: #aaa9a9;
  --color-scroll-active: #6a7488;
  --space-sm: 0.5rem;
  --space-base: 1rem;
  --space-lg: 1.5rem;
  --size-radius: 3px;
  --shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.06);
}

/* custom scrollbar */
.scroll {
  scrollbar-width: thin;
}
@media (pointer: fine) {
  .scroll::-webkit-scrollbar {
    background-color: var(--color-scroll-bg);
    height: 0.35rem;
    width: 0.35rem;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
    min-height: 3rem;
    min-width: 3rem;
  }
  .scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
  }
  .scroll::-webkit-scrollbar-thumb:active {
    background-color: var(--color-scroll-active);
  }
  .scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
}
