#firefox {
  line-height: 1.5;
  text-align: center;

  &-icon {
    height: 40px;
    margin-bottom: $space-para;
  }

  &-content {
    margin: 0;
  }

  &-ctrl {
    color: var(--color-font);
    font-weight: 500;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    margin-top: 10px;
    border-radius: $corner-radius;
    transition: background-color $transition-fast ease;

    &:hover {
      text-decoration: none;
      background-color: var(--color-transparent-active);
    }
  }
}
