:root {
  --color-footer-active: rgba(106, 116, 136, 0.1);
  @media (prefers-color-scheme: dark) {
    --color-footer-active: rgba(186, 186, 186, 0.1);
  }
}
body[data-theme='dark'] {
  --color-footer-active: rgba(186, 186, 186, 0.1);
}

footer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-xs;
  padding: $space-card;
  width: $size-content-col;
  margin-bottom: $space-card;

  .link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;

    &:hover {
      background-color: var(--color-footer-active);
    }
  }

  .police {
    display: block;
    width: 13px;
    height: 13px;
    color: transparent;
  }
}
