footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-xs;
  padding: 14px;

  .link {
    width: 100%;
    max-width: $size-content-row;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba(106, 116, 136, 0.1);
    }
  }

  @include responsive {
    .link {
      max-width: $size-content-col;
      min-width: $size-content-col;
    }
  }

  .police {
    display: block;
    width: 15px;
    height: 15px;
    color: transparent;
  }
}
