html,
body {
  font-family: $font-family-body;
  font-size: $font-md;
  user-select: none;
}

html {
  height: 100%;
  background-color: var(--color-body);
  background-image: url('https://cdn.dsrkafuu.net/background/pexelsm.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-font);
}

.link {
  display: inline-block;
  color: var(--color-font);
  text-decoration: none;
  padding: 7px;
  border-radius: $corner-radius-sm;
  transition: background-color $transition-fast ease;

  &:hover {
    color: var(--color-font);
    text-decoration: none;
    background-color: var(--color-backdrop-active);
  }
}

.card {
  padding: $space-card;
  background-color: var(--color-backdrop);
  border-radius: $corner-radius-lg;
  box-shadow: var(--box-shadow-backdrop);
  backdrop-filter: $filter-mica;
}
