.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $size-content-row;
  margin: $space-card;
  box-shadow: var(--box-shadow);

  & + & {
    margin-top: 0;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .avatar {
    flex: 0 0 auto;
    margin: 10px $space-card;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color-wrapper);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 128px;
      height: 128px;
    }
  }

  .info {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .meta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;

    h1 {
      margin: 0;
      font-size: 25px;
      font-weight: $bold-weight;
    }

    p {
      margin: 0;
      margin-top: 10px;
      font-size: $font-md;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $space-para;

    .link {
      font-size: $font-lg;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include responsive {
    .card {
      flex-direction: column;
      max-width: $size-content-col;
      min-width: $size-content-col;
    }

    .avatar {
      margin: 0;
      display: flex;
      justify-content: center;
      margin-top: 14px;
    }

    .info {
      margin-top: 22px;
      margin-bottom: 8px;
    }
  }
}
