.project {
  flex: 1 1 auto;
  text-align: center;
  align-self: flex-start;

  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    font-size: $font-md;
    justify-content: center;
    align-items: center;

    &:active {
      text-decoration: none;
      color: inherit;
    }

    img {
      display: block;
      width: 18px;
      height: 18px;
    }

    span {
      margin-left: 6px;
    }
  }
}

@include responsive {
  .project {
    align-self: stretch;
  }
}
