.info {
  display: flex;
  height: $height-info;
  z-index: 10;

  @include responsive {
    flex-direction: column;
    height: $height-info-mob;
  }

  .avatar {
    flex: 0 0 auto;
    width: $height-info;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;

    @include responsive {
      width: 100%;
      height: 11rem;
      justify-content: center;
      align-items: flex-end;
      padding-right: 0;
    }

    .image {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      display: block;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      text-align: center;
      line-height: 8rem;
    }
  }

  .content {
    flex: 1 0 auto;
    padding: $space-lg;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsive {
      padding-top: 0;
      padding-left: $space-lg;
      padding-bottom: 0;
    }
  }

  .name {
    font-size: $font-xl;
    font-weight: 500;
    letter-spacing: 0.025rem;
    margin-top: $space-sm;

    @include responsive {
      margin-top: 0;
    }
  }

  .id {
    font-size: $font-sm;
    margin-top: $space-sm;
  }

  .ctrl {
    margin-top: $space-base;
    display: flex;

    .btn {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
