@use '@dsrca/design/variables';
@use '@dsrca/design/reset';
@use '@dsrca/design/colors';

@include reset.sanitize;
@include colors.full;

html,
body {
  height: 100%;
  color: var(--color-font);
  background-color: var(--color-body);
  font-family: variables.$family-body;
}

#__next {
  height: 100%;
}

pre,
code {
  font-family: variables.$family-mono;
}
