@import '@dsrca/design/variables';
@import '@dsrca/design/reset';
@import '@dsrca/design/colors';

@include dsr-colors-full;

html,
body {
  height: 100%;
  color: var(--color-font);
  background-color: var(--color-body);
  font-family: $family-body;
}

#__next {
  height: 100%;
}

pre,
code {
  font-family: $family-mono;
}
