@import '@dsrca/design/variables';

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}

.card {
  :global {
    .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 24px;

      @include responsive('md') {
        flex-direction: column;
        padding: 24px;
      }
    }
  }
}

.avatar {
  width: 128px;
  height: 128px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;

  @include responsive('md') {
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
}

.bio {
  margin: 0;
}

.btns {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.routes {
  :global {
    .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
    }
  }
}
