@import '@dsrca/design/style/variables.scss';
@import '@dsrca/design/style/colors.scss';
@import '@dsrca/design/style/reset.scss';

@include dsr-colors-full;

html,
body {
  color: var(--color-font);
  background-color: var(--color-body);
}

#sakana-widget {
  position: fixed;
  right: 40px;
  bottom: 40px;
}
