$colors-light: (
  'body': #f2f2f2,
  'bg': rgba(255, 255, 253, 0.8),
  'hover': rgba(106, 116, 136, 0.15),
  'wrapper': #e8e8e8,
  'font': rgba(63, 69, 81, 0.8),
);
@mixin light {
  @each $key, $value in $colors-light {
    --color-#{$key}: #{$value};
  }
  --box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.05);
}

$colors-dark: (
  'body': #2f3136,
  'bg': rgba(77, 81, 88, 0.8),
  'hover': rgba(187, 187, 187, 0.15),
  'wrapper': #34373d,
  'font': rgba(255, 255, 255, 0.7),
);
@mixin dark {
  @each $key, $value in $colors-dark {
    --color-#{$key}: #{$value};
  }
  --box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  img {
    filter: brightness(85%);
  }
}

:root {
  @include light();

  @media (prefers-color-scheme: dark) {
    @include dark();
  }
}
