@import 'dsr-design/scss/variables';

$size-responsive: 900px;
$size-content-row: 450px;
$size-content-col: 280px;
$size-icon: 36px;
$size-police: 12px;

// $filter-blur: saturate(180%) blur(0.2rem);

@mixin responsive {
  @media screen and (max-width: $size-responsive) {
    @content;
  }
}

// custom colors
:root {
  --color-footer-active: rgba(106, 116, 136, 0.1);

  @media (prefers-color-scheme: dark) {
    --color-footer-active: rgba(186, 186, 186, 0.1);
  }
}
