$font-family: -apple-system, BlinkMacSystemFont, Inter, 'SF Pro Text', 'Segoe UI', Arial,
  'Helvetica Neue', Helvetica, 'Noto Sans SC', 'Source Han Sans CN', 'Source Han Sans SC',
  'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

$size-responsive: 900px;
$size-content-row: 450px;
$size-content-col: 280px;
$size-avatar: 128px;
$size-icon: 2.55rem;
$size-police: $font-size-sm;
$size-radius: 3px;

$filter-blur: saturate(180%) blur(0.2rem);

@mixin responsive {
  @media screen and (max-width: $size-responsive) {
    @content;
  }
}
