@import '@dsrca/design/variables';

.card {
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  padding: 20px 24px;
  border-radius: 8px;
  width: 100%;

  :global {
    a {
      color: var(--color-primary);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  opacity: 0.75;
}

.dls {
  margin: 20px 0;
  font-weight: 500;
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
}

.dl:not(:last-child) {
  margin-right: 12px;
}

.mod {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
