<div class="info skt a-fadeout">
  <div class="avatar">
    <div class="image"></div>
  </div>
  <div class="content">
    <span class="name"></span>
    <span class="id"></span>
    <div class="ctrl"></div>
  </div>
</div>
