<footer class="container">
  <a class="btn hash" href="https://github.com/amzrk2/dsr-index/actions" target="_blank">
    v<%= __webpack_VERSION__ %> build <%= __webpack_HASH__ %>
  </a>
  <% if (__webpack_ICP__) { %>
  <a class="btn icp">ICP 备案号申请中</a>
  <% } %>
</footer>
