<footer class="container">
  <a class="btn icp">ICP 备案号申请中</a>
  <a
    class="btn upyun"
    href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral"
    target="_blank"
  >
    <span>本站由</span><%= require('../svg/upyun.svg') %><span>提供云存储服务</span>
  </a>
</footer>
