<main class="container draggable">
  <div class="card a-height">
    <!-- skt -->
    <%= require('./_skt.ejs')() %>

    <!-- info -->
    <%= require('./_info.ejs')() %>

    <!-- [fromjs] <div class="redirect"></div> -->
  </div>
</main>
