{{- $pkg := getJSON "package.json" -}}
<a class="link" href="{{- .Site.Data.meta.repo -}}" target="_blank" rel="noopener" aria-label="Code Repo">
  {{- printf "DSRIndeX v%s MPL-2.0 License" $pkg.version -}}
</a>

{{- $icp := getenv "ICP_LICENSE" -}}
{{- $police := getenv "PD_LICENSE" -}}

{{- if $icp -}}
<a class="link" href="https://beian.miit.gov.cn" target="_blank" rel="noopener" aria-label="ICP License">
  {{- $icp -}}
</a>
{{- end -}}
{{- if $police -}}
<a class="link" href="https://www.beian.gov.cn/portal/registerSystemInfo" target="_blank" rel="noopener"
  aria-label="Police License">
  <img class="police" width="12" height="12" alt="Police Icon" src="{{- .Site.Data.meta.cnpd -}}" />
  {{- printf "&nbsp;%s" $police | safeHTML -}}
</a>
{{- end -}}
