{{- $project := .Site.Data.project -}}
{{- $extend := $project.extend -}}
{{- $main := $project.main -}}

<div class="card pjck">
  <div class="project">
    <ul class="list">
      {{- range $main -}}
      <li>
        <a class="link" href="{{- .href -}}" target="_blank" rel="noopener">
          <img src="{{- .icon -}}" alt="">
          <span>{{- .name -}}</span>
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
  <div class="project">
    <ul class="list">
      {{- range $extend -}}
      <li>
        <a class="link" href="{{- .href -}}" target="_blank" rel="noopener">
          <img src="{{- .icon -}}" alt="">
          <span>{{- .name -}}</span>
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
</div>
