/* opacity */

.a-fadein {
  opacity: 0;

  &-end {
    opacity: 1;
    // transition should add to the end state
    // to prevent webkit rendering duplicate transition
    // from opacity 1 to 0 before 0 to 1
    transition: opacity 1000ms ease;
  }
}

.a-fadeout {
  opacity: 1;

  &-end {
    opacity: 0;
    transition: opacity 1000ms ease;
  }
}

/* main card height */

.a-height {
  height: $height-info;

  &-end {
    height: $height-info + $height-redirect;
    transition: height 1000ms ease;
  }
}

@include responsive {
  .a-height {
    height: $height-info-mob;

    &-end {
      height: $height-info-mob + $height-redirect + $space-lg;
    }
  }
}
