/* opacity */
.a-fadein {
  opacity: 0;
  will-change: opacity;

  &-end {
    opacity: 1;
    // transition should add to the end state
    // to prevent webkit rendering duplicate transition
    // from opacity 1 to 0 before 0 to 1
    transition: opacity 500ms ease;
  }
}

.a-fadeout {
  opacity: 1;
  will-change: opacity;

  &-end {
    opacity: 0;
    transition: opacity 500ms ease;
  }
}

/* main card height */
.a-height {
  height: $height-info;
  will-change: height;

  &-end {
    height: $height-info + $height-redirect;
    transition: height 750ms ease;
  }
}

@include responsive {
  .a-height {
    height: $height-info-mob;

    &-end {
      height: $height-info-mob + $height-redirect + $space-lg;
    }
  }
}

/* skt */
.skt {
  will-change: background-position-x, opacity;

  .image,
  .name,
  .bio,
  .ctrl {
    background: linear-gradient(
        100deg,
        var(--color-skt-bg) 40%,
        var(--color-skt-fg) 50%,
        var(--color-skt-bg) 60%
      )
      var(--color-wrapper);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1500ms skt-loading ease-in-out infinite;
  }
}

@keyframes skt-loading {
  to {
    background-position-x: -80%;
  }
}

/* draggable */
.draggable {
  touch-action: none;
  user-select: none;
  will-change: transform;
}
main.draggable {
  z-index: 2;
}
footer {
  z-index: 1;
}
