/* reset */
a {
  color: var(--color-font);
  text-decoration: none;
}

/* custom scrollbar */
body * {
  scrollbar-width: thin;

  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: var(--color-scroll-bg);
      height: 0.35rem;
      width: 0.35rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scroll-thumb);
      min-height: 3rem;
      min-width: 3rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-scroll-hover);
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: var(--color-scroll-active);
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
  }
}

/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family;
  font-size: $font-base;
  user-select: none;
}

html {
  height: 100%;
}
body {
  background-color: var(--color-body);
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* super small overflow */
@include overflow {
  html {
    height: 100%;
    width: 100%;
    overflow-x: auto;
  }

  body {
    width: $resp-overflow;
  }
}
