@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'), url('../fonts/inter/inter-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Inter Medium'), url('../fonts/inter/inter-medium.woff2') format('woff2');
}
$font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial',
  'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN',
  'Source Han Sans SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

$font-xl: 1.625rem;
$font-lg: 1.25rem;
$font-base: 16px;
$font-sm: 0.875rem;
$font-xs: 0.75rem;

$space-sm: 0.5rem;
$space-base: 1rem;
$space-lg: 1.5rem;

$height-info: 12.5rem;
$height-info-mob: 22rem;
$height-redirect: 7rem;

$resp-width: 500px;
$resp-overflow: 310px;
$resp-threshold: 24px;
@mixin responsive {
  @media screen and (max-width: $resp-width + $resp-threshold) {
    @content;
  }
}
@mixin overflow {
  @media screen and (max-width: $resp-overflow) {
    @content;
  }
}

$radius: 0.25rem;
