<!--! dsr-index | DSRKafuU (https://dsrkafuu.su) | Copyright (c) Apache 2.0 License -->

<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%= require('./ejs/head.ejs')() %>

  <body data-theme="auto">
    <!-- main -->
    <%= require('./ejs/main.ejs')() %>

    <!-- footer -->
    <%= require('./ejs/footer.ejs')() %>

    <!-- [webpack] scripts will be auto injected -->
  </body>
</html>
